/*
/*
/* @font-face declarations */
@font-face {
    font-family: 'Raleway Light';
    src: url(../fonts/Raleway-Light.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway Light';
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-Italic.otf);
    font-weight: normal;
    font-style: italic;
}