/*
/*
/* general styles */
html {
    font-size: 14px;
    box-sizing: border-box; /* @source https://www.w3schools.com/cssref/css3_pr_box-sizing.asp 02/10/18 */
}

body {
    color: #2d2d2d;
    text-align: center;
    font-family: 'Raleway Light', sans-serif;
    line-height: 2em;
    font-weight: normal;    
}

.container {
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    padding-top: 2rem;
}

h2 {
    font-style: italic;
    font-size: 2.2rem;
    line-height: 3rem;
    padding-bottom: 2rem;
}

h2 .bold-text {
    font-style: normal;
    font-weight: bold;
}

h3 {
    color: #e2574c;
    font-size: 1.5rem;
    padding: 0.8rem;
}

a {
    color: #e2574c;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s; /* @source https://codepen.io/Onomicon/pen/ZvqLYz 02/28/18 */
}

a:hover {
    color: #b64036;
}

.text-shadow, .text-shadow a {
    color: #fff;
    text-shadow: 0.2rem 0.2rem 0.2rem #6b6969;
}

section {
    margin-bottom: 4rem;
}

button {
    cursor: pointer;
    transition: background-color 0.5s;
}

/*
/*
/* screen reader */
.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
}

/* .screen-reader-text:focus {
    clip: auto !important;
    display: block;
    height: auto;
    left: 5px;
    top: 5px;
    width: auto;
    z-index: 100000;
 } */

/*
/*
/* header styles */
header {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo, .cart {
    padding-top: 1rem;
}

.logo {
    padding-left: 1rem;
}

.cart {
    padding-right: 1rem;
}

nav {
    order: 3;
    flex-basis: 100%;
    border-top: 1.5px solid #d7d7d7;
    padding: 1rem 0;
    margin: 0 0.5rem;
}

nav li {
    text-transform: uppercase;
    display: inline-block;
    padding: 0 0.8rem;
    transition: color 0.5s, text-shadow 0.5s;
}

nav li:hover {
    text-shadow: 0.1rem 0.1rem 0.1rem #969696;
}

.logo img {
    width: 10rem;
}

.cart {
    display: flex;
    height: 4rem;
}

.cart img {
    width: 4rem;
}

.cart-items {
    position: absolute;
    right: 0.7rem;
    font-size: .9em;
    font-weight: bold;
    background: #e2574c;
    color:#fff;
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    line-height: 1.6rem;
    border-radius: 50%;
    visibility: hidden;
}

/*
/*
/* banner styles */
.banner {
    margin-top: 10rem;
    height: 40rem;
    /* @source https://stackoverflow.com/questions/26621513/darken-css-background-image 02/10/18 */
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)) no-repeat center/100%,
                url(../images/banner-girl.png) no-repeat center 5rem/16rem 100%,
                url(../images/flower-bkgd.jpg) repeat-x center/45rem 100%;
}

.banner-content {
    margin: auto;
    padding-top: 6rem;
    max-width: 50rem;
}

.banner p {
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 8rem;
}

/*
/*
/* info styles */
.about-content, .sign-up-content {
    margin: auto;
    padding: 0 2rem;
}

/*
/*
/* category styles */
#shop[tabindex="-1"]:focus {
    outline: 0;
 }

.shop-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100vw;
}

.category {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* @source https://www.w3schools.com/cssref/css3_pr_box-sizing.asp 02/10/18 */
    border-top: 0.2rem solid #fff;
    border-bottom: 0.2rem solid #fff;
    width: 50vw;
    height: 50vw;
    transition: color 1.5s, text-shadow 0.5s;
}

.category:hover {
    color: #e2574c;
    text-shadow: 0.4rem 0.4rem 0.4rem #000;
}

.category-mens {
    background-image:   linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
                        url(../images/mens-category.jpg);
    width: 100vw;
}

.category-trends {
    background-image:   linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
                        url(../images/trends-category.jpg);
    border-right: 0.2rem solid #fff;
}

.category-glasses {
    background-image:   linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
                        url(../images/glasses-category.jpg);
    border-left: 0.2rem solid #fff;
}

.category-sale {
    background-image:   linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
                        url(../images/sale-category.jpg);
    border-right: 0.2rem solid #fff;
}

.category-bags {
    background-image:   linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
                        url(../images/bags-category.jpg);
    border-left: 0.2rem solid #fff;
}

.category-womens {
    background-image:   linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
                        url(../images/womens-category.jpg);
    width: 100vw;
}

/*
/*
/* products styles */
.flickity-viewport {
    width: 100%; 
}
.main-carousel {
    width: 100%;
    margin: auto;
}

.carousel-cell {
    width: 100%;
    cursor: auto;
}

.products img {
    max-width: 80%;
    margin: auto;
}

.products p {
    text-transform: uppercase;
    color: #969696;
}

.add-to-cart-btn {
    background-color: #242424;
    color: #fff;
    border: 0;
    border-radius: 4rem;
    height: 1.5rem;
    width: 6rem;
    font-size: 0.8rem;
    outline: 0;
    margin: 1rem 0;
}

.add-to-cart-btn:hover {
    background-color: #969696;
}

/*
/*
/* sign-up styles */
.sign-up {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)) no-repeat center bottom/120rem 250%,
                url(../images/wave-bkgd.jpg) no-repeat center bottom/120rem 250%;
    margin: 2rem 0 0 0;
    padding: 3rem 0;
}

.email-input label {
    display: none;
}

.form-subscribe {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

/* @source https://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome 02/07/2018 */
input, .subscribe-btn {
    outline: 0;
}

.email-input {
    position: relative;
    height: 2.5rem;
}

.form-subscribe input {
    border: 0;
    border-radius: 4rem;
    height: 2.5rem;
    width: 14rem;
    color: #969696;
    padding-right: 7rem;
    padding-left: 1.5rem;
    font-size: 1rem;
}

.subscribe-btn {
    background-color: #e2574c;
    color: #fff;
    border: 0;
    border-radius: 4rem;
    height: 2.2rem;
    width: 6rem;
    font-size: 0.9rem;
    /* @source https://stackoverflow.com/questions/15314407/how-to-add-button-inside-input 02/12/18 */
    position: absolute;
    right: 0.3rem;
    top: 0.2rem;
}

.subscribe-btn:hover {
    background-color: #b64036;
}

/*
/*
/* footer styles */
footer {
    background-color: #242424;
    color: #fff;
    padding: 2rem 0;
    margin-top: 0.5rem;
}

footer a {
    color: #fff;
    text-decoration: underline;
    font-weight: normal;
}

.footer-contact {
    font-family: 'Playfair Display';
    line-height: 1.5em;
    padding: 2rem 0;
}

.address {
    color: #747272;
}

.footer-social {
    line-height: 2em;
}

.footer-social a {
    text-decoration: none;
}

.social-link-name {
    display: none;
}

.footer-social li {
    display: inline-block;
    width: 2rem;
}

/*
/*
/* media query */
@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }

    /*
    /*
    /* header styles 600px */
    nav {
        order: 2;
        flex-basis: 55%;
        border: 0;
        padding: 0;
        margin: 0 0 0 -2.5rem;
        max-width: 20rem;
    }

    nav ul {
        max-width: 20rem;
    }
    
    nav li {
        padding: 0 0.5rem;
        font-size: 15px;
    }
    
    .logo, .cart {
        padding-bottom: 1rem;
    }
    
    .logo {
        order: 1;
        flex-basis: 5%;
    }
    
    .cart {
        order: 3;
        flex-basis: 3%;
        margin-left: 2rem;
    }

    /*
    /*
    /* banner styles 600px */
    .banner {
        margin-top: 6rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    /*
    /*
    /* info styles 600px */
    .about-content, .sign-up-content {
        max-width: 30rem;
    }

    .category {
        width: 25vw;
        height: 25vw;
        border: 0.2rem solid #fff;
        font-size: 2rem;
    }

    .category-mens {
        width: 50vw;
        border-left: 0;
    }

    .category-glasses {
        border-right: 0;
    }

    .category-sale {
        border-left: 0;
    }

    .category-womens {
        width: 50vw;
        border-right: 0;
    }

    /*
    /*
    /* products styles 600px */
    .carousel-cell {
        width: 50%;
    }

    /*
    /*
    /* footer styles 600px */
    footer {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
    }
    
    .footer-contact, .footer-social  {
        margin: 0 1rem;
        text-align: left;
        padding: 2rem 0;
    }

    .footer-social li {
        display: block;
        width: 10rem;
    }
    
    .fa {
        margin-right: 1rem;
        width: 1rem;
    }

    .social-link-name {
        display: inline;
    }
}

@media screen and (min-width: 1240px) {
    /*
    /*
    /* header styles 1240px */
    .cart-items {
        right: 2.7rem;
    }

    /*
    /*
    /* banner styles 1240px */
    .banner {
        height: 35rem;
        background-size: 100% 100%, 15rem 100%, 45rem 100%;
    }

    .logo {
        padding-left: 3rem;
    }

    .cart {
        padding-right: 3rem;
    }

    .category {
        font-size: 2.5rem;
    }

    /*
    /*
    /* info styles 1240px */
    .about-content, .sign-up-content {
        max-width: 36rem;
    }

    /*
    /*
    /* products styles 1240px */
    .carousel-cell {
        width: 25%;
    }

    /*
    /*
    /* footer styles 1240px */
    .footer-contact, .footer-social {
        margin: 0 5rem;
    }
}

@media screen and (min-width: 1440px) {
    /* rescaling sign-up background image for bigger screens */
    .sign-up {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)) no-repeat center bottom/100% 250%,
                    url(../images/wave-bkgd.jpg) no-repeat center bottom/100% 250%;
    }  
}